 <aside>
    <section class="newpic">
        <h2>最新文章</h2>
        <ul>
            <% var latestPostsLength = Math.min(postList.length, 10); %>
            <% postList.forEach(function(post,index){ %>
            <% if (index >= latestPostsLength) { %>
            <% return false; %>
            <% } %>
            <% post.link = "/posts/" + post._id %>
            <li><a href="<%= post.link %>"><%= post.title %></a></li>
            <% }) %>
        </ul>
    </section>
    <section class="taglist">
        <h2>全部标签</h2>
        <ul>
            <% tagList.forEach(function(tag){ %>
            <% tag.link = "/tags/" + tag._id %>
            <li><a href="<%= tag.link %>"><%= tag.name %>(<%= tag.posts.length %>)</a></li>

            <% }) %>
        </ul>
    </section>
</aside>
